<!doctype html>
<html lang="en">
	<head>
		<title>Batch Viewer | Michael Lee</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/batch.css">
		<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="js/unveil.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>